
$_bsnum:1; $_scnum:7; $_nvtxt:2; $_nvhvr:11; //デフォルト
//$_bsnum:2; $_scnum:7; $_nvtxt:2; $_nvhvr:11; //インディゴ
//$_bsnum:3; $_scnum:7; $_nvtxt:2; $_nvhvr:11; //パープル
//$_bsnum:4; $_scnum:9; $_nvtxt:2; $_nvhvr:11; //ピンク
//$_bsnum:5; $_scnum:7; $_nvtxt:2; $_nvhvr:11; //レッド
//$_bsnum:6; $_scnum:7; $_nvtxt:2; $_nvhvr:11; //オレンジ
//$_bsnum:7; $_scnum:5; $_nvtxt:6; $_nvhvr:7; //イエロー
//$_bsnum:8; $_scnum:7; $_nvtxt:2; $_nvhvr:11; //グリン
//$_bsnum:9; $_scnum:7; $_nvtxt:2; $_nvhvr:11; //ミント
//$_bsnum:10; $_scnum:7; $_nvtxt:7; $_nvhvr:11; //シアン

@import "hnmvalus"; //パラメーターセッティング

$hnm-jmb-txt:	#e9ecef;
$hnm-jmb-h1:	#e9ecef;

@import "hnmcolorset"; //カラーセット


